.side-nav {
  width: 200px;
  height: calc(100vh + 50px);
  background: #ecf0f1;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  z-index: 11;

  .side-nav-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #c0392b;
  }

  .nav-brand {
    color: white;
  }

  .side-nav-links {
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);
  }
}
