@keyframes alertFade {

  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  5% {
    opacity: 1;
    transform: translateY(0px);
  }

  7% {
    transform: translateY(2px);
  }

  9% {
    transform: translateY(2px);
  }

  11% {
    transform: translateY(0px);
  }

  80% {
    display: flex;
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
  }
}

.alert {
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 40px;
  background: #9b59b6;
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  animation-name: alertFade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  cursor: pointer;
  z-index: 100000;
}
