.main-stats {
  height: 30rem;
  width: 50rem;
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  border-radius: 4px;
  transition: all 150ms;

  &:hover {
    transform: translateY(-1px);
  }

  .stats-top {
    height: 50px;
    width: calc(100% - 1rem);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
}
