.horizontal-charts {
  display: flex;
  justify-content: space-between;
}

.main-stats {
  padding-top: 5px;
  // box-shadow: 0px 1px 1px rgba(0,0,0,.3);


  .stats-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    width: 20rem;
    border-radius: 4px;
    transition: all 150ms;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: 0px 30px 40px 10px rgba(189, 195, 199,.4);
      transform: translateY(-2px);
    }

    .stats-icon {
      position: absolute;
      top: -.5rem;
      right: -.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 3px rgba(41, 128, 185,0.3);
      height: 30px;
      width: 30px;
      background: rgba(41, 128, 185,1.0);
      border-radius: 100%;
      cursor: pointer;

      i {
        color: white;
      }
    }

    .stats-number {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      color: rgba(0,0,0,.90);
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
    }

    .stats-title {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      color: rgba(127, 140, 141,1.0);
    }

  }



  .stats-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}

.graphs-container {
  margin-top: 1rem;
  height: 30rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 5rem;
  transition: all 150ms;
  border-radius: 4px;

  &:hover {
    // box-shadow: 0px 30px 40px 10px rgba(189, 195, 199,.4);
    // transform: translateY(-2px);
  }

}

.rendered-math {
  .good {
    font-size: 1.5rem;
    font-weight: 900;
    color: #27ae60;
  }

  .bad {
    font-size: 1.5rem;
    font-weight: 900;
    color: #e74c3c;
  }
}

.smaller-graphs-container {
  margin-top: 1rem;
  height: 20rem;
  width: 29rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  background: white;
  text-align: center;

  .doughnut-graph {
    position: relative;
  }

  .graph-chart {
  }

}
